@mixin btn ($color, $margin ) {
    width: 64px;
    height: 64px;
    border-radius: 6px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color;
    margin-left: $margin;
}