.recharts-cartesian-grid-vertical {
    display: none;
}

.recharts-default-tooltip {
    background-color: #E60000 !important;
    border: none !important;
}

.recharts-tooltip-label {
    display: none;
}

.recharts-tooltip-item {
    color: #ffff !important;
}

.recharts-cartesian-axis-tick-line {
    display: none;
}